body{
    padding: 0;
    overflow: hidden;
    font-size:100%;
    font-family: 'PT Sans', Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.grid{
    overflow-x: hidden;
    height: calc(100vh - 5.2rem);
    transition: 300ms;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top:3rem;
    width: calc(100vw - 4rem);
}

.grid h2{
    font-weight: 400;
}

.grid .section{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
}

@media screen and (max-width: 1000px){
    
    .grid, .bottomright .wrapper{
        display: block!important;
        overflow-y: scroll!important;
        
    }

    .bottomright .wrapper div{
        height: 50%!important;
    }

}

.right{
    height: calc(100vh - 6rem);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    background-color: #eee;
}

.right div, .bottomright div{
    flex-grow: 1;
    border: solid 1px rgb(235, 235, 235);
    border-radius: 5px;
    width: 98%;
    overflow-y: auto;
    overflow-x: auto;
    background-color: white;
}

.left{
    height: calc(100vh - 10rem);
    padding: 2rem;
    border: solid 1px rgb(235, 235, 235);
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.left .c, .topright .c{
    margin-top:-1rem;
}

#posts, #pages{
    flex-basis: 50%;
    overflow:hidden;
}

#posts, #pages{
    overflow-y: auto;
}

hr{
    margin: 0;
    margin-top: -1rem;
    border: none;
    border-bottom: solid 1px rgb(222, 222, 222);
}

.right div .wrapper{
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    border: none!important;
}

.bottomright{
    min-height:300px;
}

.bottomright .wrapper{
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    overflow: hidden;
    width: 100%!important;
    height: 100%!important;
}

.bottomright div{
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
}

.bottomright div div, .topright .wrapper{
    padding: 2rem;
    padding-top: 1rem;
}

.category{
    border: none!important;
    padding: 0!important;
}

.cat-edit, .cat-list, .cat-delete, .cat-edit .lucide, .cat-list .lucide, .cat-danger .lucide, #new-page, #new-post, #new-post .lucide, #new-page .lucide, #new-cat, #new-cat .lucide, #show-views, #show-views .lucide, #show-comments, #show-comments .lucide{
    cursor: pointer;
    transition: 0.2s all;
}

.cat-edit:not(.danger):hover .lucide, .cat-list:not(.danger):hover .lucide, #new-post:hover .lucide, #new-page:hover .lucide, #new-cat:hover .lucide, #show-views:hover .lucide, #show-comments:hover .lucide{
    background-color: rgb(49, 152, 196);
}

@media screen and (max-width: 1000px){
    .c{
        width:90%!important;
    }
}