{%macro ist(images)%}

{%for item in images | reverse%}
<div class = "img-list-row">
    <div class = "img-container">
        <img class="img-thumbnail square" src="{{item.image}}" alt="{{item.alt}}" data-url="{{item.url}}">
    </div>
    <div id = 'name'>{{item.filename}}</div>
    <div id = 'slug'>Copy slug</div>
    <div id = 'type'>{{item.type}}</div>
    <div id = 'date'>{{item.date}}</div>
</div>
{%endfor%}

{%endmacro%}