#upload-image .lightbox-modal-close{
    position: relative;
    top:1%;
    left:-1.5rem;
    display: inline;
    height: 0; 
    overflow: visible;
    width:0;
    max-width: 0;
    max-height: 0;
    z-index:81;
}

#upload-image.lightbox-modal{
    background-color: rgba(0,0,0,0.5);
    z-index:80;
}

#upload-image .lightbox-modal-inner{
    width: fit-content;
    height: fit-content;
    padding: 2rem;
    min-width: 300px;
    left:70vw;
    top: 10vh;
}

@media screen and (max-width: 1000px) {
    #upload-image .lightbox-modal-inner{
        left:40vw;
    }
}

#upload-image .inner-inner{
    position: relative;
    width:calc(100% + 1rem);
    height:calc(100% - 2rem);
    top:0;
    left:0;
    overflow-y:auto;
    overflow-x:hidden;
    padding: 0;
    display: grid;
    gap: 0.25rem;
    background-color: #eee;
    border-radius: 8px;
    padding: 1rem;
}

#upload-image .inner-inner button{
    margin-top:1rem;
}