<!DOCTYPE html>
<html lang="en">

<head>
    {% import "../includes/editor_includes.njk" as i %}
    {% import "../includes/meta.njk" as m %}
    {% import "../includes/admin_toolbar.njk" as a %}
    {% import "../includes/lucide.njk" as lu %}
    {% import "../includes/calendar.njk" as c%}
    <link rel="stylesheet" href="/icons/style.css">
    {{ i.ncludes("dashboard") }}
    {{ m.eta()}}
</head>

<body>
    {{ c.alendar("calendar-container", month=date.monthName, day=date.day, year=date.year) }}
    {{ a.dmin_toolbar("dashboard", "", user) }}
    <div class="grid">
        <div class="section left">
            <div class='c' id = "pages">
                <h2>Pages</h2>
                <hr />
                <section></section>
            </div>
            <div class='c' id = "posts">
                <h2>Posts</h2>
                <hr />
                <section></section>
            </div>
        </div>
        <div class="section right">
            <div class="topright">
                <div class='wrapper'>
                    <section class="gallery-top">
                        <h2>Gallery</h2>
                        <section class="gallery-top">
                            <span>{{ lu.i("folder-tree")}}</span>
                            <span>{{ lu.i("plus")}}</span>
                        </section>
                    </section>

                    <hr />
                    <div class='gallery'>

                    </div>
                </div>

            </div>
            <div class="bottomright">
                <div class="wrapper">
                    <div class='c'>
                        <h2>Categories</h2>
                        <hr />
                    </div>
                    <div>
                        <h2>Comments</h2>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/dashboard.js"></script>
</body>

</html>