<!DOCTYPE html>
<html lang="en">

<head>
    {% import "../includes/editor_includes.njk" as i %}
    {% import "../includes/meta.njk" as m %}
    {% import "../includes/admin_toolbar.njk" as a %}
    {% import "../includes/lucide.njk" as lu %}
    {% import "../includes/calendar.njk" as c%}
    {% import "../includes/post_list.njk" as p%}
    <link rel="stylesheet" href="/icons/style.css">
    {{ i.ncludes("dashboard") }}
    {{ m.eta()}}
</head>

<body>
    {{ c.alendar("calendar-container", month=date.monthName, day=date.day, year=date.year) }}
    {{ a.dmin_toolbar("dashboard", "", user) }}
    <div class="grid">
        <div class="section left">
            <div class='c' id = "pages">
                <div class = "flex-between">
                    <h2>Pages</h2>
                    <span id = "new-page">{{lu.i("plus")}}</span>
                </div>
                <hr />
                <section>
                    {{ p.ost_list(pages, "pages", all_categories) }}
                </section>
            </div>
            <div class='c' id = "posts">
                <div class = "flex-between">
                    <h2>Posts</h2>
                    <span id = "new-post">{{lu.i("plus")}}</span>
                </div>
                <hr />
                <section>
                    {{ p.ost_list(posts, "posts", all_categories) }}
                </section>
            </div>
        </div>
        <div class="section right">
            <div class="topright">
                <div class='wrapper'>
                    <section class="gallery-top">
                        <h2>Images</h2>
                        <section class="gallery-top">
                            <span id = "list-view">{{ lu.i("folder-tree")}}</span>
                            <span id = "gallery-view" class="hidden">{{ lu.i("layout-grid")}}</span>
                            <span>{{ lu.i("image-plus")}}</span>
                        </section>
                    </section>

                    <hr />
                    <div class='gallery'></div>
                    <div class="list-view" style = "display:none">
                        <section class = "breadcrumbs"></section>
                        <section class = "list"></section>
                    </div>
                </div>

            </div>
            <div class="bottomright">
                <div class="wrapper">
                    <div class='c'>
                        <section class = "flex-between">
                            <h2>Categories</h2>
                            <span id = "new-cat">{{lu.i("plus")}}</span>
                        </section>
                        <hr />
                        <section style = "margin-top:1rem;">
                            {% for category in all_categories %}
                            <div class="flex-between gap-1 baseline-down squish category">
                                <p>{{category.name}}</p>
                                <span>
                                    <span id = 'edit-{{category._id}}' class=" cat-edit">{{lu.i("pencil", 2)}}</span>
                                    <span id = 'list-{{category._id}}' class=" cat-list">{{lu.i("list", 2)}}</span>
                                    <span id = 'delete-{{category._id}}' class="danger  cat-delete">{{lu.i("trash-2", 2)}}</span>
                                </span>
                            </div>
                            {% endfor %}
                        </section>
                    </div>
                    <div>
                        <h2>Comments</h2>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/dashboard.js"></script>
    <script src="/img/gallery.js"></script>
    <script src="/img/list.js"></script>
</body>

</html>