{% macro dmin_toolbar(t, post, user) %}
{% import "../includes/lucide.njk" as lu %}
<link rel="stylesheet" href="/admin_toolbar.css" />
<link rel="stylesheet" href="/icons/style.css"/>
<div class="admin-toolbar">
    <div class="toolbar-container" id="admin-toolbar-left">
        <div class="toolbar-tool seashell" onclick="{window.location.href='/dashboard'}" id="home">
            {{ lu.i("home", 2) }}
        </div>
        <div class="toolbar-container toolbar-dropdown">
            <p id="user">
                Hey, {%if user.display_name%} {{user.display_name}}{% elif user.username %}{{ user.username }}{% else %}{{user.email}}{%endif%} :) 
            </p>
            <p class = "hidden" id = 'user-id-hidden'>{{user._id}}</p>
            <div class="toolbar-tool seashell" id="user-dropdown">
                {{ lu.i("chevron-down", 2, ["va-2"]) }}
            </div>
            <div class="toolbar-tool seashell hidden" id="dropdown-close">
                {{ lu.i("chevron-up", 2, ["va-2"]) }}
            </div>
        </div>
    </div>
    <div class="toolbar-container" id="admin-toolbar-center">
        <p id = "current-task">
            {% if t == "editor" %}
            {{ post.title }}<p class = "hidden" id = 'post-id-hidden'>{{post._id}}</p>
            {% endif %}
            {% if t == "dashboard" %}
            Dashboard
            {% endif %}
            {% if t == "account" %}
            Account
            {% endif %}
        </p>
    </div>
    <div class="toolbar-container" id="admin-toolbar-right">
        {% if t == "editor" %}
        <div class="toolbar-tool seashell" id="save">
            {{ lu.i("save", 2) }}
        </div>
        <div class="toolbar-tool seashell" id="preview">
            {{ lu.i("eye", 2) }}
        </div>
        <div class="toolbar-tool ocean" id="publish">
            {{ lu.i("check", 2) }}
        </div>
        <div class="toolbar-tool ocean" id="schedule">
            {{ lu.i("calendar-check", 2) }}
        </div>
        <div class = "spacer"></div>
        <div class="toolbar-tool seashell" id="sidebar-close">
            {{ lu.i("panel-right-close", 2) }}
        </div>
        <div class="toolbar-tool seashell hidden" id="sidebar-open">
            {{ lu.i("panel-right-open", 2) }}
            {% endif %}
            {% if t == "dashboard" or t=="account" %}
        <div class="toolbar-tool seashell" id="dashboard-schedule">
            {{ lu.i("calendar-days", 2) }}
        </div>
            {% endif %}
        </div>
    </div>
</div>
<script type = "module" src="/admin_toolbar.js"></script>
{% endmacro %}