{% macro idebar(
    type,
    blog_title,
    meta_title,
    content,
    meta_description,
    meta_keywords,
    featured_image,
    status,
    publish_time,
    slug,
    categories,
    blog_tags,
    author,
    history,
    all_categories=["blog", "test", "uncategorized"],
    all_authors=["author1", "author2", "author3"]
) %}
{% import "../includes/lucide.njk" as lu %}
<link rel="stylesheet" href="/sidebar.css" />

{% if type == "post" %}

<div class="blog-editor-sidebar">
    <div class="top">


        <div class="sidebar-tool" id="sidebar-tool-title">
            <label for="blog-title">Title</label>
            <input type="text" id="blog-title" value="{{ blog_title }}" />
        </div>

        <div class="sidebar-tool" id="sidebar-tool-meta-title">
            <label for="blog-title">Meta Title</label>
            <input type="text" id="blog-meta-title" value="{{ meta_title }}" />
        </div>

        <div class="sidebar-tool" id="sidebar-tool-meta-description">
            <label for="blog-meta-description">Meta Description</label>
            <textarea id="blog-meta-description">{{ meta_description }}</textarea>
        </div>

        <div class="sidebar-tool" id="sidebar-tool-meta-keywords">
            <label for="blog-meta-keywords">Meta Keywords</label>
            <textarea id="blog-meta-keywords">{{ meta_keywords }}</textarea>
        </div>

        <div class="sidebar-tool" id="sidebar-tool-status">
            <label for="blog-status">Status</label>
            <select id="blog-status">
                <option value="draft" {% if status == "draft" %} selected {% endif %}>Draft</option>
                <option value="published" {% if status == "published" %} selected {% endif %}>Published</option>
                <option value="scheduled" {% if status == "scheduled" %} selected {% endif %}>Scheduled</option>
            </select>
        </div>

        <div class="sidebar-tool" id="sidebar-tool-slug">
            <label for="blog-slug">Slug</label>
            <input type="text" id="blog-slug" value="{{ slug }}" />
        </div>

        <div class="sidebar-tool" id="sidebar-tool-categories">
            <label for="blog-categories">Categories</label>
            <select id="blog-categories" multiple>
                {% for category in all_categories %}
                <option value="{{ category.name }}" {% if category.name in categories %} selected {% endif %}>{{ category.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="sidebar-tool" id="sidebar-tool-blog-tags">
            <label for="blog-tags">Blog Tags</label>
            <input type="text" id="blog-tags" value="{{ blog_tags }}" />
        </div>

        <div class="sidebar-tool" id="sidebar-tool-author">
            <label for="blog-author">Author</label>
            <select id="blog-author">
                {% for a in all_authors %}
                <option value="{{ a.name }}" {% if a.id == author %} selected {% endif %}>{{ a.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="sidebar-tool" id="sidebar-tool-history">
            <div class = 'flex-between no-border fullwidth'>
            <span id = "history-count">History: {{history.length}} revisions</span>
            <span>
                <span id = "history" class = "clickable-icon">{{lu.i("history")}}</span>
                <span id = "delete-history" class = "clickable-icon danger">{{lu.i("trash-2")}}</span>
            </span>
            
            
        </div>

        </div>

    </div>
    <div class = "bottom">
        <button id="sidebar-tool-close" class="ocean flexwidth">{{lu.i("door-open")}}Exit editor</button>
    <button id="sidebar-tool-delete" class="danger flexwidth">{{lu.i("trash-2")}}Delete</button>

</div>
</div>

{% endif %}

{% if type == "page" %}

<div class="blog-editor-sidebar">
    <div class="top">


        <div class="sidebar-tool" id="sidebar-tool-title">
            <label for="blog-title">Title</label>
            <input type="text" id="blog-title" value="{{ blog_title }}" />
        </div>

        <div class="sidebar-tool" id="sidebar-tool-meta-title">
            <label for="blog-title">Meta Title</label>
            <input type="text" id="blog-meta-title" value="{{ meta_title }}" />
        </div>

        <div class="sidebar-tool" id="sidebar-tool-meta-description">
            <label for="blog-meta-description">Meta Description</label>
            <textarea id="blog-meta-description">{{ meta_description }}</textarea>
        </div>

        <div class="sidebar-tool" id="sidebar-tool-meta-keywords">
            <label for="blog-meta-keywords">Meta Keywords</label>
            <textarea id="blog-meta-keywords">{{ meta_keywords }}</textarea>
        </div>

        <div class="sidebar-tool" id="sidebar-tool-status">
            <label for="blog-status">Status</label>
            <select id="blog-status">
                <option value="draft" {% if status == "draft" %} selected {% endif %}>Draft</option>
                <option value="published" {% if status == "published" %} selected {% endif %}>Published</option>
                <option value="scheduled" {% if status == "scheduled" %} selected {% endif %}>Scheduled</option>
            </select>
        </div>

        <div class="sidebar-tool" id="sidebar-tool-slug">
            <label for="blog-slug">Slug</label>
            <input type="text" id="blog-slug" value="{{ slug }}" />
        </div>

        <div class="sidebar-tool" id="sidebar-tool-author">
            <label for="blog-author">Author</label>
            <select id="blog-author">
                {% for a in all_authors %}
                <option value="{{ a.name }}" {% if a.name == author %} selected {% endif %}>{{ a.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class = "bottom">
        <button id="sidebar-tool-close" class="ocean flexwidth">{{lu.i("door-open")}}Exit editor</button>
    <button id="sidebar-tool-delete" class="danger flexwidth">{{lu.i("trash-2")}}Delete</button>

</div>
</div>

{% endif %}
<script src="/blog_sidebar.js"></script>

{% endmacro %}