{% macro ncludes(page_type) %}
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">

{% if page_type == "editor" %}
    <script src ='https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest'></script>
    <script src ='https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest'></script>
    <script src="https://cdn.jsdelivr.net/npm/editorjs-header-with-alignment@1.0.1/dist/bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/nested-list@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/editorjs-toggle-block"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/editorjs-undo"></script>
    <script src="https://cdn.jsdelivr.net/npm/editorjs-html@3.4.0/build/edjsHTML.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/editorjs-button"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
    <script src="https://cdn.jsdelivr.net/gh/trinhtam/editorjs-hyperlink@master/dist/bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/editorjs-drag-drop"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href = '/editor.css'>
{% endif %}

{% if page_type == "login" %}
    <link rel="stylesheet" href = '/login.css'>
{% endif %}

{% if page_type == "dashboard" %}
    <link rel="stylesheet" href = '/dashboard.css'>
    <link rel="stylesheet" href = '/image/gallery.css'>
    <link rel="stylesheet" href = '/lightbox-modal.css'>
    <link rel="stylesheet" href = '/post_list.css'>
{% endif %}

{% if page_type == "account" %}
    <link rel="stylesheet" href = '/dashboard.css'>
    <link rel="stylesheet" href = '/image/gallery.css'>
    <link rel="stylesheet" href = '/lightbox-modal.css'>
    <link rel="stylesheet" href = '/account.css'>
    <link rel="stylesheet" href = '/post_list.css'>
{% endif %}

<link rel="stylesheet" href = '/app.css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href = '/editor.css'>
<link rel="stylesheet" href = '/app.css'>


{% endmacro %}
