{%macro allery(images)%}
{%for key, item in images%}

<div class ="img-container" style="max-width: 7.3vw;min-width:50px">
    <img class = "square rounded gallery-img" src = "{{item.image}}" alt = "{{item.filename}}" />
</div>

{%endfor%}

{%endmacro%}