{%macro allery(images)%}

{%for item in images%}

<div class ="img-container" style="max-width: 7.3vw;min-width:80px">
    <img class = "square rounded gallery-img" src = "{{item.image}}" alt = "{{item.filename}}" data-url="{{item.url}}"/>

</div>

{%endfor%}

{%endmacro%}