{% macro ost_list(posts, ptype, all_authors, all_categories) %}
{% import "../includes/lucide.njk" as lu %}
<div class = "post_list">
    <table>
        <colgroup>
            {% if ptype == "posts" %}
            <col style="width: 28%;">
            <col style="width: 18%;">
            <col style="width: 21%;">
            <col style="width: 13%;">
            <col style="width: 18%;">
            <col style="width: 2%;">
            {% endif %}
            {% if ptype == "pages" %}
            <col style="width: 40%;">
            <col style="width: 26%;">
            <col style="width: 26%;">
            <col style="width: 5%;">
            <col style="width: 3%;">
            {% endif %}
        </colgroup>
        <thead>
            <tr>
                {% if ptype == "posts" %}
                <th>Title</th>
                <th>Author</th>
                <th>Categories</th>
                <th>Status</th>
                <th>Date</th>
                <th></th>
                {% endif %}
                {% if ptype == "pages" %}
                <th>Title</th>
                <th>Author</th>
                <th>Status</th>
                <th>Views</th>
                <th></th>
                {% endif %}
            </tr>
        </thead>
        {% if ptype == "posts" %}
        <tbody>
            {% for post in posts %}
            <tr>
                <td><a href ={{"/post/"+post.slug}}>{{ post.title }}</a></td>
                <td>
                    {% for a in all_authors %}
                    {% if a.id == post.author %}
                    {{a.name}}
                    {% else %}
                    Invalid Author
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <select name="categories" class="categories" multiple>
                        {% for category in all_categories %}
                        <option value={{category.name}} {% if category.name in post.categories %}selected{% endif %}>{{category.name}}</option>
                        {% endfor %}
                    </select>
                
                </td>
                <td>
                    <select name="status" id="status" value={{post.status}}>
                        <option value="scheduled" {%if post.status == "scheduled"%}selected{% endif %}>Scheduled</option>
                        <option value="published" {%if post.status == "published"%}selected{% endif %}>Published</option>
                        <option value="draft" {%if post.status == "draft"%}selected{% endif %}>Draft</option>
                        <option value="private" {%if post.status == "private"%}selected{% endif %}>Private</option>
                    </select>
                </td>
                <td>{{ post.createdAt | date('MMM Do, h:mm a') }}</td>
                <td><a href ="{{'/edit/post/'+post._id}}"><span class = "pedit clickable-icon" id = {{"edit-"+post._id}}>{{lu.i("pencil", 2)}}</span></a></td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
        {% if ptype == "pages" %}
        <tbody>
            {% for post in posts %}
            <tr>
                <td><a href ={{"/page/"+post.slug}}>{{ post.title }}</a></td>
                <td>
                    {% for a in all_authors %}
                    {% if a.id == post.author %}
                    {{a.name}}
                    {% else %}
                    Invalid Author
                    {% endif %}
                    {% endfor %}
                </td>
                <td>

                        <select name="status" id="status" value={{post.status}}>
                            <option value="published" {%if post.status == "published"%}selected{% endif %}>Published</option>
                            <option value="draft" {%if post.status == "draft"%}selected{% endif %}>Draft</option>
                            <option value="private" {%if post.status == "private"%}selected{% endif %}>Private</option>
                        </select>
                </td>
                <td>{{ post.views }}</td>
                <td><a href ="{{'/edit/page/'+post._id}}"><span class = "pedit clickable-icon" id = {{"edit-"+post._id}}>{{lu.i("pencil", 2)}}</span></a></td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>
<script src="/post_list.js"></script>
{% endmacro %}