{% macro ats_chart(data) %}
<link rel="stylesheet" href='/stats.css'>
<script src="/colors.js"></script>

<section class = "chart flex-between baseline-flatten flex-column">
<section class = "bar-chart flex-between baseline-flatten">
{% for d in data %}
<figure class = 'hidden bar' id = 'page-{{d._id}}'>{{d.views}}</figure>
{% endfor %}
</section>
<section class = "chart-labels">
{% for d in data %}
<p>{{d.title}}</p>
{% endfor %}
</section>
</section>
<script src="/stats.js"></script>
{% endmacro %}