<!DOCTYPE html>
<html lang="en">

<head>
    {%import "../includes/editor_includes.njk" as i%}
    {%import "../includes/meta.njk" as m%}
    {%import "../includes/admin_toolbar.njk" as a%}
    {%import "../includes/lucide.njk" as lu%}
    {%import "../includes/calendar.njk" as c%}
    {%import "../includes/post_list.njk" as p%}
    {%import "../includes/stats.njk" as st%}
    {%import "../includes/image_upload.njk" as u%}
    {%import "../includes/gallery.njk" as g%}
    {%import "../includes/image_list.njk" as l%}

    <link rel="stylesheet" href="/icons/style.css">
    {{ i.ncludes("dashboard") }}
    {{ m.eta()}}
</head>

<body>
    {{ u.pload_image() }}
    {{ c.alendar("calendar-container", month=date.monthName, day=date.day, year=date.year, upcoming_posts=upcoming_posts) }}
    {{ a.dmin_toolbar("dashboard", "", user) }}
    <div class="grid">
        <div class="section left">
            <div class='c' id = "pages">
                <div class = "flex-between">
                    <h2>Pages</h2>
                    <span id = "new-page" class="clickable-icon">{{lu.i("plus")}}</span>
                </div>
                <hr />
                <section>
                    {{ p.ost_list(pages, "pages", all_authors, all_categories) }}
                </section>
            </div>
            <div class='c' id = "posts"> 
                <div class = "flex-between">
                    <h2>Posts</h2>
                    <span id = "new-post" class="clickable-icon">{{lu.i("plus")}}</span>
                </div>
                <hr />
                <section>
                    {{ p.ost_list(posts, "posts", all_authors, all_categories) }}
                </section>
            </div>
        </div>
        <div class="section right">
            <div class="topright">
                <div class='wrapper'>
                    <section class="gallery-top">
                        <h2>Images</h2>
                        <section class="gallery-top">
                            <span id = "list-view" class="clickable-icon">{{ lu.i("folder-tree")}}</span>
                            <span id = "gallery-view" class="hidden clickable-icon">{{ lu.i("layout-grid")}}</span>
                            <span class ="clickable-icon" id="new-image">{{ lu.i("image-plus") }}</span>
                        </section>
                    </section>

                    <hr />
                    <div class='gallery'>
                        {{g.allery(cached_media)}}
                    </div>
                    <div class="list-view" style = "display:none">
                        <div class = "list">
                            {{l.ist(cached_media)}}
                        </div>
                    </div>
                </div>

            </div>
            <div class="bottomright">
                <div class="wrapper">
                    <div class='c'>
                        <section class = "flex-between">
                            <h2>Categories</h2>
                            <span id = "new-cat" class="clickable-icon">{{lu.i("plus")}}</span>
                        </section>
                        <hr />
                        <section style = "margin-top:1rem;">
                            {% for category in all_categories %}
                            <div class="flex-between gap-1 baseline-down squish category">
                                <p>{{category.name}}</p>
                                <span>
                                    <span id = 'edit-{{category._id}}' class=" cat-edit clickable-icon">{{lu.i("pencil", 2)}}</span>
                                    <span id = 'list-{{category._id}}' class=" cat-list clickable-icon">{{lu.i("list", 2)}}</span>
                                    <span id = 'delete-{{category._id}}' class="danger clickable-icon  cat-delete">{{lu.i("trash-2", 2)}}</span>
                                </span>
                            </div>
                            {% endfor %}
                        </section>
                    </div>
                    <div>
                        <section class = "flex-between hidden" id ="section-comments">
                        <section style="width:100%"><h2 id = "comments-h2">Comments</h2><hr /></section>
                        <span id = "show-views" class="clickable-icon">{{lu.i("bar-chart-3", 3, ["va-10"])}}</span>
                        </section>
                        <section class = "flex-between hidden" id = "comments">
                            </section>
                        <section class = "flex-between" id = "section-views">
                            <section style="width:100%"><h2 id = "views-h2">Views</h2><hr /></section>
                            <span id = "show-comments" class="clickable-icon">{{lu.i("messages-square", 3, ["va-10"])}}</span>
                            </section>
                            <section class = "flex-between" id = "views">
                                {{st.ats_chart(pages)}}
                            </section>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/dashboard.js"></script>
    <script type = "module" src="/img/gallery_list_lightbox.js"></script>
</body>

</html>