<!DOCTYPE html>
<html lang="en">

<head>
    {% import "../includes/history_compare.njk" as hi %}
    {% import "../includes/editor_includes.njk" as i %}
    {% import "../includes/blog_sidebar.njk" as s %}
    {% import "../includes/admin_toolbar.njk" as a %}
    {% import "../includes/header.njk" as h %}
    {% import "../includes/meta.njk" as m %}
    {% import "../includes/word_count.njk" as w %}
    {% import "../includes/gallery.njk" as g %}
    {{ m.eta() }}
    {{ i.ncludes("editor") }}
</head>

<body>

    {{ hi.story(post[0].history) }}

    {{ a.dmin_toolbar("editor", post[0], user) }}
    {{ h.eader() }}
    <div id="editor-grid">
        <div id="editor-left">
            <div id='editorjs'></div>
        </div>
        <div id="editor-right">
                {{ s.idebar(
                    type,
                    post[0].title,
                    post[0].meta_title,
                    post[0].content,
                    post[0].meta_description,
                    post[0].meta_keywords,
                    post[0].featured_image,
                    post[0].status,
                    post[0].scheduled_date,
                    post[0].slug,
                    post[0].categories,
                    post[0].tags,
                    post[0].author,
                    post[0].history,
                    all_categories,
                    all_authors
                ) }}


        </div>
    </div>

    {{ w.ord_count() }}

    <script src="/editor.js"></script>
    <script>
    </script>
</body>

</html>