<!DOCTYPE html>
<html lang="en">

<head>
    {% import "../includes/history_compare.njk" as hi %}
    {% import "../includes/editor_includes.njk" as i %}
    {% import "../includes/blog_sidebar.njk" as s %}
    {% import "../includes/admin_toolbar.njk" as a %}
    {% import "../includes/header.njk" as h %}
    {% import "../includes/meta.njk" as m %}
    {% import "../includes/word_count.njk" as w %}
    {{ m.eta() }}
    {{ i.ncludes("editor") }}
</head>

<body>

    {{ hi.story(post.history) }}

    {{ a.dmin_toolbar("editor", post, user) }}
    {{ h.eader() }}
    <div id="editor-grid">
        <div id="editor-left">
            <div id='editorjs'></div>
        </div>
        <div id="editor-right">

                {{ s.idebar(
                    type,
                    post.title,
                    post.meta_title,
                    post.content,
                    post.meta_description,
                    post.meta_keywords,
                    post.featured_image,
                    post.status,
                    post.scheduled_date,
                    post.slug,
                    post.categories,
                    post.tags,
                    post.author,
                    post.history,
                    all_categories,
                    all_authors
                ) }}


        </div>
    </div>

    {{ w.ord_count() }}

    <script src="/editor.js"></script>
    <script>
    </script>
</body>

</html>