<!DOCTYPE html>
<html lang="en">

<head>
    {% import "../includes/editor_includes.njk" as i %}
    {% import "../includes/meta.njk" as m %}
    {{ i.ncludes("login") }}
    {{ m.eta()}}
</head>

<body>
    <div class="login-card">
        <div class="login-card-header">
            <div class="img-container">
                <img src="https://unsplash.it/1000/450/?random?" alt="Logo" class="square">
            </div>
            <h1>Log into OKCSS blog portal</h1>
            </div>

    <div class="login-card-content flex-center">
        <button class = "ocean"><a href = "/login/federated/google">Sign in with Google</a></button>
    </div>

    </div>
</body>

</html>