<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = '/app.css'>
    <title>Document</title>
</head>
<body>
    <div class = "login-card">
        <div class="login-card-header">
        <div class = "image-container">
            <img src={{qr}}/>
        </div>
        <h2>Scan the QR code with your authenticator app</h2></div>
        <div class = "login-card-content flex-center">
            <form action="/totp-verify" method="post">
                <input type="text" name="code" />
                <button class = "ocean fullwidth" type="submit">Submit</button>
              </form>
    </div>
    

</body>
</html>