<!DOCTYPE html>
<html lang="en">
<head>
    {% import "../includes/editor_includes.njk" as i %}
    {% import "../includes/meta.njk" as m %}
    {{ i.ncludes("login") }}
    {{ m.eta()}}
</head>
<body>
    <div class="login-card">
        <div class="login-card-header"><h2>Please scan the QR code with an authenticator app</h2><img src = {{qr}}></div>
        <div class="login-card-content flex-center">
            <form action="/totp-verify" method="post">
                <input type="text" name="code" />
                <button class = "ocean fullwidth" type="submit">Submit</button>
              </form>
              </div>
    </div>

</body>
</html>