{% macro dmin_toolbar() %}
<link rel="stylesheet" href="/admin_toolbar.css"/>
<div class = "admin-toolbar">
    <div class = "toolbar-container" id = "admin-toolbar-left">

    </div>
    <div class = "toolbar-container" id = "admin-toolbar-center">

    </div>
    <div class = "toolbar-container" id = "admin-toolbar-right">
        
    </div>
</div>
{% endmacro %}