{% macro alendar(container, month, day, year) %}

<link rel="stylesheet" href = '/calendar.css'>
<div id="{{ container }}">
    <div id = "calendar">
        <div class = "calendar-left">
        </div>
        <div class = "calendar-right">
        </div>
    </div>
</div>

{% endmacro %}