.post_list{
    padding:1rem;
    padding-left:0;
    overflow-y: auto;
}

.post_list table{
    width:100%;
}

.post_list thead{
    text-align:left;
    font-size:100%;
}

.post_list td{
    text-align:left;
    font-size:90%;
}

.post_list a{
    color:rgb(49, 152, 196);
    text-decoration: none;
}

.post_list tbody tr:hover{
    background-color:hsl(0, 0%, 98%);
}

.post_list td{
    padding-top:.5rem;
    padding-bottom:.5rem;
}

.post_list select{
    padding:.25rem;
    border-radius:5px;
    border:1px solid #ccc;
}

.categories{
    max-height:2.5rem;
    overflow-y:scroll;
    width: 100%;
}

.post_list .ct-cell span:not(:last-child)::after{
    content: ", ";
}