@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --accent: #286c6f;
    --light-accent: #7dbabb;
    --light-gray: #9f9ba1;
    --lighter-gray: #dcd9de;
    --lightest-gray: #ebe8ec;
    --gray: hsl(249, 10%, 26%);
    --dark-gray: hsl(248, 11%, 15%);
    --dark-blue: #243c4e;
    --off-white: #f7f8f7;
    --color1: #569a9d;
    --color2: hsl(165, 63%, 57%);
    --color3: hsl(197, 63%, 57%);
    --color4: hsl(203, 86%, 56%);
    --color5: hsl(215, 87%, 64%);
    --color6: hsl(226, 64%, 62%);
    --color7: hsl(249, 30%, 63%);
    --active-color: black;
}

@property --p {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 10%;
}

body.dark p {
    color: var(--off-white);
}

body.light p {
    color: var(--dark-gray);
}

p {

    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
    transition: .2s all;
    padding: 0 .3rem;
    color: var(--active-color);
}

body.dark a:hover {
    color: var(--off-white);
    background-color: var(--light-gray);
}

body.light a:hover {
    color: var(--dark-gray);
    background-color: var(--lightest-gray);
}

a:hover {
    cursor: pointer;
}

a:visited {
    color: var(--dark-blue);
}

body.dark h1 {
    color: white;
}

body.light h1 {
    color: black;
}

body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
    color: var(--off-white);
}

body.light h2,
body.light h3,
body.light h4,
body.light h5,
body.light h6 {
    color: var(--gray);
}

h1 {
    font-family: 'Fira Sans Condensed', sans-serif;
    text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fira Sans Condensed', sans-serif;
    text-transform: uppercase;
}


body ::selection {
    background-color: var(--active-color);
}

body {
    font-family: 'PT Sans', sans-serif;
    accent-color: var(--accent);
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    transition: .2s background-color;
}

body.dark {
    background-color: var(--dark-gray);
}

body.light {
    background-color: var(--off-white);
}

button {
    --p: 10%;
    font-family: 'Fira Sans Condensed', sans-serif;
    text-transform: uppercase;
    background-color: var(--gray);
    color: var(--off-white);
    border-radius: 4px;
    outline: none;
    border: none;
    padding: .5rem 1rem;
    transition: all .25s;
    box-shadow: none;
    cursor: pointer;
}

button.lucide-button{
    padding:.5rem;
    padding-bottom: .25rem;
}

button:hover {

    background-color: var(--light-gray);
    outline: none;
    border: none;

}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.flex {
    display: flex;
}

.stretch {
    align-items: stretch;
}

.wrap {
    flex-wrap: wrap;
}

.flex-between {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.flex-evenly {
    justify-content: space-evenly;
}

.flex-center {
    justify-content: center;
}

.top {
    align-items: flex-start;
}

.bottom {
    align-items: flex-end;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-12{
    width: 100%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66%;
}

.col-6 {
    width: calc(50% - 2rem);
}

@media screen and (max-width: 1000px) {
    .fwc{
        width: 100%!important;
    }
}

.col-4 {
    width: calc(33.33% - 2rem);
}

.col-3 {
    width: calc(25% - 2rem);
}

.col-2 {
    width: calc(16.66% - 2rem);
}

.col-17 {
    width: calc(14.28% - 2rem);
}

.col-shrink {
    flex-shrink: 1;
}

.col-grow {
    flex-grow: 1;
}

.card {
    border-radius: 4px;
    box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.2);
    transition: .2s all;
    cursor: pointer;
    height: 100%;
}

body.dark .card {
    background-color: var(--gray);
    color: var(--off-white);
}

body.dark .card:hover{
    background-color: var(--dark-blue);
}

body.light .card {
    background-color: var(--lightest-gray);
    color: var(--gray);
}

body.light .card:hover h2{
    color: var(--dark-gray);
}


.card h2 {
    text-align: center;
    white-space: wrap;
}

.card:hover {
    box-shadow: 2px 15px 15px -7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 15px 15px -7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 15px 15px -7px rgba(0, 0, 0, 0.2);
}
.card_base {
    width: 100%;
    min-width: 100%;
    height: 10px;
    min-height: 10px;
    border-radius: 0 0 4px 4px;
    transition: 0.3s all;
}

.card_top {
    width: 100%;
    min-width: 100%;
    height: 0;
    min-height: 10px;
    transition: 0.3s all;
}

.card:hover .card_top{
    height: 10px;
}

.card_h2{
    margin-top: 10px;
    transition: 0.3s all;
}

.card:hover .card_h2{
    margin-top: 0;
}

.card:hover .card_base {
    height: 20px;
}

.c1 {
    background-color: var(--color1);
}

.c2 {
    background-color: var(--color2);

}

.c3 {
    background-color: var(--color3);
}

.c4 {
    background-color: var(--color4);
}

.c5 {
    background-color: var(--color5);
}

.c6 {
    background-color: var(--color6);
}

.c7 {
    background-color: var(--color7);
}

.page {
    width: 90vw;
    height: 90vh;
    margin-left: 5vw;
    margin-top: 5vh;
}

.img-container{
    position: relative;
}

.img-container:has(.square)::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.img-container img.square{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container:has(img.rounded){
    border-radius:8px;
}

img.rounded{
    border-radius:8px;
}