.admin-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
    color: seashell;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    overflow: hidden;
    height: 1rem;
}

.toolbar-tool span{
    transition: .15s all;
    cursor: pointer;
}