.admin-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
    color: seashell;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left:2vw;
    padding-right:2vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 96vw;
    z-index: 700;
    overflow: hidden;
    height: 1rem;
    font-family: 'PT Sans', Helvetica, sans-serif;
    border-bottom: 4px solid #303030;
    border-top: 4px solid #303030;
    font-size: 80%;
}

.toolbar-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.toolbar-container:hover .toolbar-tool:not(:hover){
    opacity: 0.65;
}

.toolbar-dropdown{
    padding: 0.5rem;
    background-color: #404040;
}

.toolbar-tool, .toolbar-tool span{
    transition: .2s all;
    cursor: pointer;
}

.spacer{
    padding-left:1rem;
    padding-right:1rem;
}

#user-dropdown, #dropdown-close{
    margin-left: -1rem;
}

.dropdown-item{
    font-size: 80%;
    color: seashell;
    padding: 0.65rem;
    transition: all .2s;
}

.dropdown-item:hover{
    background-color: rgb(49, 152, 196);
    cursor: pointer;
}
#user{
    text-wrap:nowrap;
}