.blog-editor-sidebar{
    background-color: #e0ecf2;
    height:calc(100vh - 5rem);
    overflow:hidden;
    position: fixed;
    width:20vw;
    padding:2rem;
    padding-top:3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sidebar-tool{
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 85%;
}

.sidebar-tool:not(:last-child){
    padding-bottom:.5rem;
}
.sidebar-tool:not(:first-child){
    padding-top:.5rem;
}

.sidebar-tool :not(label){
    flex-grow: 1;
    height:100%;
    padding:0.5rem;
    border-radius: 4px;
    border: solid 1px rgb(214, 214, 214);
    max-height: 4rem;
}

.sidebar-tool label{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#blog-categories option, #blog-tags option{
    border: none;
   padding: 0;
}

#blog-categories, #blog-tags{
    overflow-y:scroll;
}

.blog-editor-sidebar button.flexwidth{
    flex-grow: 1;
    max-width:85%;
}

.blog-editor-sidebar .bottom{
    margin-bottom:1rem;
    display:flex;
    gap: .5rem;
    max-width:85%;
}